# R History files
.Rhistory
.Rapp.history

# R RStudio files
.Rproj.user
*.Rproj

.Rbuildignore

# R Session Data files
.RData

# R User-specific files
.Ruserdata

# R Output files from R CMD build
*.tar.gz

# R knitr and R markdown default cache directories
R*_cache/
cache/

# R Temporary files created by R markdown
*.utf8.md
*.knit.md

# R R Environment Variables
.Renviron

